<div class="about-me-container-outer">
  <div class="about-me-container-inner">
    <div class="main-row">
      <div class="contentLeft" id="picture-and-name">
        <div class="profile-picture">
          <img src="./../../assets/images/profile_pic.png" alt="profilePic" id="profilePic" />
        </div>
        <div class="name-and-location">
          <h1>Sam Hapgood</h1>
          <h3>Applications Developer</h3>
          <h3>Pittsburgh, Pennsylvania</h3>
          <div class="socialMedia">
            <a href="https://www.linkedin.com/in/samuel-hapgood-785518156/" target="_blank">
              <img src="./../../assets/images/linkedin-grey.png" alt="LinkedIn Logo">
            </a>
            <a href="https://github.com/HappyDev95" target="_blank">
              <img src="./../../assets/images/github.png" alt="Github Logo">
            </a>
          </div>
        </div>
      </div>
      <div class="contentRight">
        <div class="about-me-summary">
          <h1 id="AboutMeHeader">About Me</h1>
          <br>
          <p>Motivated and quality-focused Applications Developer skilled in developing complex programs. Ability
             to quickly master new software packages, API’s and framework technologies. Passionate about the work I do and
             diligent in the way I do it.
          </p>
          <br>
          <p>Currently, I am employed at First National Bank as a member of an Applications Development
            Team working on Teller and sales oriented banking applications. I'm an avid runner and who enjoys the outdoors - the background
            picture was taken from a hike in the White Mountains. I graduated from Florida State University *Go Noles* and earned a Bachelors
            of Science degree in Computer Science with a minor in Mathematics as well as Natural Sciences.
          </p>
          <br>
          <p>Presently, my interests are in learning more about front-end technologies which led me to pickup Angular and TypeScript.
             Among other things I like to keep myself entertained with projects such as this website, running, and consistently learning.
          <p>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="skills-hobbies-interests">
  <div class="main-row">
    <div class="contentLeft">
      <h2>Technical Skills</h2>
      <ul class="techSkillList">
        <li>Programming Languages:	Java, JavaScript, HTML5, CSS, SCSS, XML, C++, JCL, COBOL</li>
        <li>Editors:	Eclipse, Visual Studios, Atom, Android Studio</li>
        <li>Tools & Software:	Git, Git Extensions, J2EE, JPA, XSLT, JAXB, JUnit, Java SWT, Batch Scripting, Apache Ant, Eclipse Debugger, Oracle WebLogic, Oracle SQL Developer</li>
        <li>Databases:	 Oracle, MySQL, Google Firebase, IBM IMS, IBM DB2</li>
        <li>Frameworks & Methodologies: JSF, Angular, Service Oriented Architecture, ExpressJS
        <li>Environments:	Windows, Unix/Linux, TSO z/OS</li>
        <li>Certifications:	AWS Certified Cloud Practitioner, Java SE 8 Programmer</li>
      </ul>
    </div>

    <div class="contentRight">
      <h2>Resume</h2>
      <div class="resume-container">
        <a href="./../../assets/images/resume.pdf" target="_blank">
          <img src="./../../assets/images/resume_background.png" alt="Resume Image">
        </a>
        <h4>Click To View Resume</h4>
      </div>
    </div>
  </div>

  <div class="main-row">
    <div class="contentLeft">
      <h2>Professional and Academic</h2>
      <p>In college much of my coursework focused on mathematics, algorithms, algorithm analysis, understanding object oriented
         design principals and patterns, and strong emphasis on implementing these techniques in the C++ programming language.
         The foundation of knowledge I built at FSU abetted the transition from academic to professional tremendously, and taught
         me invaluable lessons about trusting your preparation.
      </p>
      <p>At DXC Technology, day-to-day work as an Applications Developer involved tasks such as writing backend business logic for
         Java EE web applications. This typically included interfacing with clients to determine an appropriate data model,
        communicating with DBA’s to accurately map out and ensure effective database design for our applications.
        A sample of some of the techniques and technologies that I leveraged are the follwing: prepared statements, JDBC, JPA, Oracle SQL Developer and a whole lot of StackOverflow.
        Additionally, I wrote stand-alone ETL (extract, transform, and load) applications using service oriented architecture and leveraged the following
        technologies: Java, JAXB, XSL, XSLT, XPath queries, and SQL. Daily I communicated with L3 support teams to deploy software to production as well as troubleshoot problems.
      </p>
      <p>My position at DXC Technology as member on the Applications Development Team taught me a tremendous amount about
        professional software development. My expertise in Java, knowledge of software design and best practices, and technical
        skillset has been strengthened because of my time there.
      </p>
    </div>
    <div class="contentRight">
      <h2>Hobbies and Interests</h2>
      <p>Frontend development is exciting and always caught my attention as it continuously evolves. Over the course of the past year
        I have immersed myself in learning as much as I can about client-side web development with technologies like JavaScript,
        TypeScript, and Angular. This excitement led me to want to create and host my own website, and recently has brought me to the
        AWS cloud to explore serverless content hosting and serverless APIs with Lambda, S3, and CloudFormation.
      </p>
      <p>I love the outdoors and the challenges it presents through activities such as running and hiking (and trying to get a new PR on a half or full marathon).</p>
    </div>
  </div>
</section>
