<div class="about-me-container-outer">
  <div class="about-me-container-inner">
    <div class="main-row">
      <div class="contentLeft" id="picture-and-name">
        <div class="profile-picture">
          <img src="./../../assets/images/about-me/profile_pic.png" alt="profilePic" id="profilePic" />
        </div>
        <div class="name-and-location">
          <h1>Sam Hapgood</h1>
          <h3>Software Engineer</h3>
          <h3>Pittsburgh, Pennsylvania</h3>
          <div class="socialMedia">
            <a href="https://www.linkedin.com/in/samuel-hapgood-785518156/" target="_blank">
              <img src="./../../assets/images/about-me/linkedin-grey.png" alt="LinkedIn Logo">
            </a>
            <a href="https://github.com/HappyDev95" target="_blank">
              <img src="./../../assets/images/about-me/github.png" alt="Github Logo">
            </a>
          </div>
        </div>
      </div>
      <div class="contentRight">
        <div class="about-me-summary">
          <h1 id="AboutMeHeader">About Me</h1>
          <br>
          <p>
            A technology professional who is skilled at operating in challenging, dynamic and fast-paced environments and has demonstrated ability to quickly master new technologies,
            stacks, API's and software packages all while being an effective teammate, leader and communicator who maintains a goal-driven mindset. Ready for professional challenges
            and willing to take on responsibilities.
          </p>
          <br>
          <p>
            Currently, I am employed at McDonald's working on the order core microservices (think order fulfillment, validation, totalization, etc.) and use a range of different
            tools and technologies to deliver our solutions at scale. For example: C#, .NET7, JavaScript, Docker, GitHub Actions (for CI),
            Terraform, Jenkins (for CD), AWS Cloud Services, Kubernetes, etc...
          </p>
          <br>
          <p>
            I'm really interested in figuring out how software works and how I can help other people through my own journey... and running a <em>gross</em> amount of miles ultrarunners where you at!
          <p>
        </div>
      </div>
    </div>
  </div>
</div>

<blog></blog>
