.about-me-container-outer {
  height: 800px;
  width: 100%;
  background: url("./../../assets/images/WhiteMountains.png");
  background-size: cover;

  .about-me-container-inner {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(144, 36, 36, 0.8), rgb(144, 36, 36, 0.4));   //red
  }
}

.main-row {
  display: flex;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;

  .contentLeft {
    text-align: center;
    width: 50%;
    padding: 10px;
    margin: 50px 30px;

    .profile-picture {
      display: block;
      height: 270px;
      width: 500px;
      margin: 7% auto;

      img {
        width: 123px;
        height: 224px;
        border-radius: 50%;
        border: solid 6px rgb(111, 153, 95, 0.3);
      }
    }

    .name-and-location {
      background-color: rgb(111, 153, 95, 0.7);   //green
      border-radius: 15px;
      width: 54%;
      margin: auto;

      .socialMedia {
        img {
          padding: 8px 13px;
          height: 35px;
          width: 35px;
        }
      }
    }
  }

  .contentRight {
    width: 50%;
    padding: 10px;
    text-align: center;
    margin: 50px 30px;

    .about-me-summary {
      background-color: rgb(111, 153, 95, 0.7);   //green
      border-radius: 15px;
      padding: 10px;
      margin-top: 125px;
    }
  }
}

.skills-hobbies-interests{
  //  background-image: linear-gradient(to bottom, rgb(245, 245, 245, 0.5), rgb(208, 208, 208, 0.8));
}

.techSkillList {
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 10%;
  li {
    margin: 14px auto;
  }
}

.resume-container {
  text-align: center;

  img {
    margin: auto;
    object-fit: contain;
  }
}

h1 {
  font-family: 'Playfair Display SC', sans-serif;
  font-weight: 400;
  letter-spacing: 7px;
  font-size: 40px;
  margin: 20px auto;
}

h2 {
  font-family: 'Playfair Display SC', sans-serif;
  color: rgb(111, 153, 95);   //green
  font-weight: 400;
  font-size: 35px;
  letter-spacing: 1px;
  margin: 15px auto;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 10px auto;
}

h4 {
  font-family: 'Roboto', sans-serif;
  color: rgb(111, 153, 95);   //green
  font-weight: 400;
  font-size: 15px;
  margin: 10px auto;
}
