<div class="about-me-container-outer">
  <div class="about-me-container-inner">
    <div class="main-row">
      <div class="contentLeft" id="picture-and-name">
        <div class="profile-picture">
          <img src="./../../assets/images/profile_pic.png" alt="profilePic" id="profilePic" />
        </div>
        <div class="name-and-location">
          <h1>Sam Hapgood</h1>
          <h3>Applications Developer</h3>
          <h3>Norwich, Connecticut</h3>
          <div class="socialMedia">
            <a href="https://www.linkedin.com/in/samuel-hapgood-785518156/" target="_blank">
              <img src="./../../assets/images/linkedin-grey.png" alt="LinkedIn Logo">
            </a>
            <a href="https://github.com/HappyDev95" target="_blank">
              <img src="./../../assets/images/github.png" alt="Github Logo">
            </a>
          </div>
        </div>
      </div>
      <div class="contentRight">
        <div class="about-me-summary">
          <h1>About Me</h1>
          <br>
          <p>Motivated and quality-focused Applications Developer skilled in developing complex programs. Ability
             to quickly master new software packages, API’s and framework technologies. Ready for new professional
             challenges and willing to take on dynamic responsibilities.
          </p>
          <br>
          <p>Presently, my interests are in learning more about front-end technologies and development paradigms,
            and furthering my skillset as a developer. Among other things, I like to keep myself entertained with
             projects such as this website. Currently, I am learning the Angular Framework, picking up TypeScript,
             and exploring what I can do with NodeJS (check out my Dead Directory project).
          <p>
          <br>
          <p>I graduated from Florida State University *Go Noles* and earned a Bachelors of Science in Computer Science
             and a minor in Mathematics as well as Natural Sciences. Currently, I am employed at DXC Technology in
             Norwich, Connecticut, our client being General Dynamics Electric Boat Account. Aside from coding related
              things I'm an avid runner who frequently participates in marathons and half-marathons.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<section>
  <div class="main-row">
    <div class="contentLeft">
      <h2>Technical Skills</h2>
      <ul class="techSkillList">
        <li>Programming Languages:	Java, JavaScript, HTML5, CSS, SCSS, XML, C++, JCL, COBOL</li>
        <li>Editors:	Eclipse, Visual Studios, Atom, Android Studio</li>
        <li>Tools & Software:	Git, Git Extensions, J2EE, JPA, XSLT, JAXB, JUnit, Java SWT, Batch Scripting, Apache Ant, Eclipse Debugger, Oracle WebLogic, Oracle SQL Developer</li>
        <li>Databases:	 Oracle, MySQL, Google Firebase, IBM IMS, IBM DB2</li>
        <li>Frameworks & Methodologies: JSF, Angular, Service Oriented Architecture, ExpressJS
        <li>Environments:	Windows, Unix/Linux, TSO z/OS</li>
        <li>Certifications:	AWS Certified Cloud Practitioner, Java SE 8 Programmer</li>
      </ul>
    </div>

    <div class="contentRight">
      <h2>Resume</h2>
      <div class="resume-container">
        <h3>Click To View Resume</h3>
        <img src="./../../assets/images/resume_background.png" alt="Resume Image">
      </div>
    </div>
  </div>

  <div class="main-row">
    <div class="contentLeft">
      <h2>Professional and Academic</h2>
      <p>In college much of my coursework focused on mathematics, algorithms, algorithm analysis, understanding object oriented
         design principals and patterns, and a strong emphasis on implementing these techniques in the C++ programming language.
         The foundation of knowledge I built at FSU abetted the transition from academic to professional tremendously and taught
         me invaluable lessons about trusting your preparation.
      </p>
      <p>Day-to-day work as an Applications Developer for me involves tasks such as writing backend business logic for some of
        our Java EE web applications. This typically includes interfacing with our clients to determine an appropriate data model,
        communicating with DBA’s to accurately map out and ensure an effective database design for our application, developing
        the business logic for storing user-inputted data into Oracle databases and developing the business logic for displaying data
        from Oracle databases using SQL, prepared statements, JDBC, and the JPA. Additionally, I write stand-alone ETL
        (extract, transform, and load) applications using service oriented architecture and leveraging the following
        technologies: Java, JAXB, XSL, XSLT, XPath queries, and SQL. Daily I communicate with L3 support teams to deploy software to
        production as well as troubleshoot problems.
      </p>
      <p>My position at DXC Technology as member on the Applications Development Team has taught me a tremendous amount about
        professional software development and, my Java expertise, knowledge of software design and best practices, and technical
        skillset has been strengthened because of this.
      </p>
    </div>
    <div class="contentRight">
      <h2>Hobbies and Interests</h2>
      <p>Frontend development is exciting and always caught my attention as it continuously evolves. Over the course of the past year
        I have immersed myself in learning as much as I can about client-side web development with technologies like JavaScript,
        TypeScript, and Angular. This excitement led me to want to create and host my own website, and recently has brought me to the
        AWS cloud to explore serverless content hosting and serverless APIs.
      </p>
      <p>Running, hiking, etc</p>
    </div>
  </div>

</section>
