<h1>Projects</h1>
<section class="projects-section">
  <div class="main-row">
    <div class="contentLeft">
      <h2>Sport Stats</h2>
      <div class="project-info">
        <p>Date: Spring 2021 - Present</p>
        <p>
          Description: ASP.NET Core Web Application in conjuction with a REST API and SQL Server instance, to show the current MLB Standings and statistics down to the team and individual matchup level.
        </p>
        <p>Technologies Used: ASP.NET Core, MVC pattern, Entity Framework 6, Razor Pages, .NET Framework + ADO.NET, MSSQL and SQL Server, HTML, CSS, Bootstrap, AJAX, and AWS for hosting</p>
        <p>Contributors: Only Me</p>
        <a id="sportStatsUrl" href="http://sportstats.us-east-1.elasticbeanstalk.com/" target="_blank">Check out the live site, click me!</a>
      </div>
    </div>
    <div class="contentRight">
      <a href="http://sportstats.us-east-1.elasticbeanstalk.com/" target="_blank">
        <img src=".\..\..\..\assets\images\SportsMetrics.png" alt="Sports Metrics">
      </a>
      <h4>Click image to view live site</h4>
    </div>
  </div>

  <div class="main-row">
    <div class="contentLeft">
      <h2>Dead Directory</h2>
      <div class="project-info">
        <p>Date: Winter 2020 - Spring 2020</p>
        <p>
          Description: Angular web application in conjunction with ExpressJS API to serve Grateful Dead
          tour data. Deployed serverlessly to AWS using Lambda, API Gateway, CloudFormation, and S3.
        </p>
        <p>Technologies Used: Angular, TypeScript, Javascript, HTML, SCSS, NodeJS, ExpressJS, AWS Services</p>
        <p>Contributors: Only Me</p>
        <a id="deadDirectoryUrl" href="http://deaddirectorywebapp.s3-website-us-east-1.amazonaws.com/" target="_blank">Check out the live site, click me!</a>
      </div>
    </div>
    <div class="contentRight">
      <a href="https://github.com/HappyDev95/Dead-Directory" target="_blank">
        <img src=".\..\..\..\assets\images\gratefulDeadBears_image.png" alt="Dancing Bears">
      </a>
      <h4>Click image to view source code</h4>
    </div>
  </div>

  <div class="main-row">
    <div class="contentLeft">
      <h2>HappyDev95 Portfolio</h2>
      <div class="project-info">
        <p>Date: Ongoing</p>
        <p>
          Description: This webpage! It serves as way for me to put some of my ideas out there... Originally it started as raw HTML and CSS and since its inception it has been
          converted to an Angular web application.
        </p>
        <p>Technologies Used: Angular, TypeScript, HTML, SCSS, NPM</p>
        <p>Contributors: Only Me</p>
      </div>
    </div>
    <div class="contentRight">
      <a href="https://github.com/HappyDev95/HappyDev95.github.io" target="_blank">
        <img src=".\..\..\..\assets\images\github_image.png" alt="Github Image">
      </a>
      <h4>Click image to view source code</h4>
    </div>
  </div>

  <div class="main-row">
    <div class="contentLeft">
      <h2>Spinner</h2>
      <div class="project-info">
        <p>Date: Summer 2018</p>
        <p>
          This unique social game is meant to bring friends together to enjoy a dizzying competitive challenge for the whole
          room to enjoy. Whether you're at a party or looking to kill time, simply pull out your phone, start a game, and wait
          for direction callouts. Each time the phone calls a direction, quickly spin to face that direction to earn points.
          Accurately spin as many times as you can in thirty seconds to rack up the most points. Compare your scores to your
          friends and publish them online on your quest to become the spinning champion!
        </p>
        <p>Technologies Used: Java, Gradle, Android Studio, Google Firebase, Google Firebase Authentication</p>
        <p>Contributors: Group Effort</p>
      </div>
    </div>
    <div class="contentRight">
      <a href="https://github.com/Silcore/SpinnerApplication" target="_blank">
        <img src=".\..\..\..\assets\images\spinner.png" alt="Dancing Bears">
      </a>
      <h4>Click image to view source code</h4>
    </div>
  </div>

  <div class="main-row">
    <div class="contentLeft">
      <h2>Huffman Tree Compression</h2>
      <div class="project-info">
        <p>Date: Summer 2018</p>
        <p>
          A lossless compression implementation to be used on bitsets. An experiment to understand how compression works which
          turned into designing a basic Huffman Tree compression algorithm.
        </p>
        <p>Technologies Used: C++</p>
        <p>Contributors: Only Me</p>
      </div>
    </div>
    <div class="contentRight">
      <a href="https://github.com/HappyDev95/compression_proj" target="_blank">
        <img src=".\..\..\..\assets\images\github_image.png" alt="Github Image">
      </a>
      <h4>Click image to view source code</h4>
    </div>
  </div>

</section>
