:host {
  display: block;
  text-align: center;
}

.main-row {
  display: flex;
  font-family: 'Jost', sans-serif;
  height: 100%;
  width: 100%;

  .contentLeft {
    text-align: center;
    width: 50%;
    padding: 10px;
  }

  .contentRight {
    width: 50%;
    padding: 10px;
    text-align: center;
  }
}

h1 {
  font-family: 'Jost', sans-serif;
  letter-spacing: 3px;
  font-size: 40px;
  margin: 20px auto;
}

h1:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 40%;
  padding-top: 20px;
  border-bottom: 3px solid rgb(70, 70, 70);
}

h2 {
  font-family: 'Jost', sans-serif;
  color: rgb(128, 128, 128);
  font-size: 30px;
  letter-spacing: 1px;
  margin: 15px auto;
}

h4 {
  font-family: 'Jost', sans-serif;
  color: rgb(128, 128, 128);
  font-size: 15px;
  margin: 10px auto;
}

p {
  color: rgb(128, 128, 128);
}

@media screen and (max-width: 600px) {

  .main-row {
    display: block;
    width: 100%;
    margin: 0 auto;

    .contentLeft {
      padding: 0;
      width: 50%;
      padding-top: 50px;
      margin: 0 auto;
    }

    .contentRight {
      padding: 0;
      width: 50%;
      margin: 0 auto;
    }
  }

  .main-row:before {
    content: "";
    display: block;
    margin-top: 25px;
  }
}

@media screen and (max-width: 768px) and (max-height: 1024px) {
  .about-me-container-outer {
    height: 1000px;
  }

  #picture-and-name {
    padding-top: 230px;
  }

  .main-row {
    .contentLeft {
      margin: 0 auto;

      .profile-picture {
        height: auto;
        width: auto;
        margin: 0 auto;
      }

      .name-and-location {
        margin: 0 auto;
        width: 88%;
      }
    }

    .contentRight {
      margin: 0 auto;
    }
  }
}
