<section class="blog-section">
  <h1>Blog (Brain Dump)</h1>
  <div class="main-row">
    <div class="contentLeft">
      <h2>Apple Silicon Docker Users Beware!</h2>
      <div class="project-info">
        <p>
          This blog post describes a hack at running a Docker container, who's image targets an intel chip, on Apple Silicon (M1/M2).
          If you're interested in how this problem was found, how it was troubleshooted, and ultimately how to get that container running on your Apple silicon machine then this post is for you!
        </p>
      </div>
    </div>
    <div class="contentRight">
      <h4>15 September 2023</h4>
      <a routerLink="/post1">Docker Hack for Apple Silicon Chips (M1, M2)</a>
    </div>
  </div>
  <h1></h1>
</section>
